USE [master]
GO
/****** Object:  Database [BikeStores]    Script Date: 5/12/2023 3:36:12 PM ******/
CREATE DATABASE [BikeStores]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BikeStores', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BikeStores.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BikeStores_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BikeStores_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BikeStores].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BikeStores]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 5/12/2023 3:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[maHoaDon] [varchar](10) NOT NULL,
	[maLoaiXe] [varchar](10) NOT NULL,
	[soLuong] [int] NOT NULL,
	[donGia] [int] NOT NULL,
	[thanhTien] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuaHang]    Script Date: 5/12/2023 3:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuaHang](
	[maCuaHang] [varchar](10) NOT NULL,
	[tenCuaHang] [nvarchar](30) NOT NULL,
	[soDienThoai] [int] NOT NULL,
	[email] [nvarchar](30) NOT NULL,
	[duong] [nvarchar](30) NOT NULL,
	[thanhPho] [nvarchar](30) NOT NULL,
	[tinhTrang] [nvarchar](15) NOT NULL,
	[maBuuDien] [int] NOT NULL,
 CONSTRAINT [PK__CuaHang__325705DC59B99570] PRIMARY KEY CLUSTERED 
(
	[maCuaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 5/12/2023 3:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHoaDon] [varchar](10) NOT NULL,
	[ngayLap] [date] NULL,
	[thoiGianBaoHanh] [nvarchar](30) NOT NULL,
	[maKhachHang] [varchar](10) NOT NULL,
	[maCuaHang] [varchar](10) NOT NULL,
	[maNhanVien] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/12/2023 3:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKhachHang] [varchar](10) NOT NULL,
	[hoKhachHang] [nvarchar](30) NOT NULL,
	[tenKhachHang] [nvarchar](10) NOT NULL,
	[diaChi] [nvarchar](50) NOT NULL,
	[soDienThoai] [int] NOT NULL,
	[email] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVienHanhChanh]    Script Date: 5/12/2023 3:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVienHanhChanh](
	[maNhanVien] [varchar](10) NOT NULL,
	[tenNhanVien] [nvarchar](30) NOT NULL,
	[diaChi] [nvarchar](50) NOT NULL,
	[soDienThoai] [int] NOT NULL,
	[chucVu] [nvarchar](20) NOT NULL,
	[email] [nvarchar](40) NOT NULL,
	[soNamKinhNghiem] [int] NOT NULL,
	[maCuaHang] [varchar](10) NOT NULL,
	[taiKhoan] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVienKiThuat]    Script Date: 5/12/2023 3:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVienKiThuat](
	[maNhanVien] [varchar](10) NOT NULL,
	[tenNhanVien] [nvarchar](30) NOT NULL,
	[soDienThoai] [int] NOT NULL,
	[email] [nvarchar](40) NOT NULL,
	[bacTho] [nvarchar](10) NOT NULL,
	[chucVu] [nvarchar](20) NOT NULL,
	[soNamKinhNghiem] [int] NOT NULL,
	[diaChi] [nvarchar](50) NOT NULL,
	[maCuaHang] [varchar](10) NOT NULL,
	[taiKhoan] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaPhanPhoi]    Script Date: 5/12/2023 3:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaPhanPhoi](
	[maNhaPhanPhoi] [varchar](10) NOT NULL,
	[tenNhaPhanPhoi] [nvarchar](30) NOT NULL,
	[diaChi] [nvarchar](50) NOT NULL,
	[soDienThoai] [int] NOT NULL,
	[email] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhaPhanPhoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhanXet]    Script Date: 5/12/2023 3:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhanXet](
	[maPhieu] [varchar](10) NOT NULL,
	[liDoBaoHanh] [nvarchar](50) NOT NULL,
	[loiThuocVe] [nvarchar](30) NOT NULL,
	[giaTien] [int] NOT NULL,
	[linhKien] [nvarchar](20) NOT NULL,
	[maKhachHang] [varchar](10) NOT NULL,
	[maNhanVien] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 5/12/2023 3:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[taiKhoan] [varchar](10) NOT NULL,
	[matKhau] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[taiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinXe]    Script Date: 5/12/2023 3:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinXe](
	[maLoaiXe] [varchar](10) NOT NULL,
	[tenLoaiXe] [nvarchar](30) NOT NULL,
	[giaNiemYet] [int] NOT NULL,
	[giaGiam] [int] NOT NULL,
	[moTaXe] [nvarchar](150) NOT NULL,
	[phienBan] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maLoaiXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Xe]    Script Date: 5/12/2023 3:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xe](
	[maXe] [varchar](10) NOT NULL,
	[soMay] [varchar](20) NOT NULL,
	[soKhung] [varchar](20) NOT NULL,
	[ngayNhapXe] [date] NULL,
	[maNhaPhanPhoi] [varchar](10) NOT NULL,
	[maLoaiXe] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XeTrongKho]    Script Date: 5/12/2023 3:36:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XeTrongKho](
	[maCuaHang] [varchar](10) NOT NULL,
	[maLoaiXe] [varchar](10) NOT NULL,
	[soLuong] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHoaDon] ([maHoaDon], [maLoaiXe], [soLuong], [donGia], [thanhTien]) VALUES (N'HD121', N'LX012', 12, 400000, 4800000)
INSERT [dbo].[ChiTietHoaDon] ([maHoaDon], [maLoaiXe], [soLuong], [donGia], [thanhTien]) VALUES (N'HD121', N'LX111', 1, 230000, 230000)
INSERT [dbo].[ChiTietHoaDon] ([maHoaDon], [maLoaiXe], [soLuong], [donGia], [thanhTien]) VALUES (N'HD121', N'LX012', 2, 400000, 800000)
GO
INSERT [dbo].[CuaHang] ([maCuaHang], [tenCuaHang], [soDienThoai], [email], [duong], [thanhPho], [tinhTrang], [maBuuDien]) VALUES (N'CH111', N'Tân Hiệp Phát', 123, N'SQl@gmail.com', N'inter', N'Hcm', N'mở', 111)
INSERT [dbo].[CuaHang] ([maCuaHang], [tenCuaHang], [soDienThoai], [email], [duong], [thanhPho], [tinhTrang], [maBuuDien]) VALUES (N'CH123', N'Tân Hiệp Phát', 2234324, N'hieppha@gmail.com', N'Bùi quang là', N'Ho chi minh', N'mở cửa', 1234)
INSERT [dbo].[CuaHang] ([maCuaHang], [tenCuaHang], [soDienThoai], [email], [duong], [thanhPho], [tinhTrang], [maBuuDien]) VALUES (N'CH125', N'Tân Hiệp Thành', 123232, N'thanh@gmail.com', N'dà lạt', N'Ðà lạt', N'mở cửa', 2234)
GO
INSERT [dbo].[HoaDon] ([maHoaDon], [ngayLap], [thoiGianBaoHanh], [maKhachHang], [maCuaHang], [maNhanVien]) VALUES (N'HD121', CAST(N'2022-10-20' AS Date), N'3 tháng', N'KH123', N'CH123', N'NVHC789')
INSERT [dbo].[HoaDon] ([maHoaDon], [ngayLap], [thoiGianBaoHanh], [maKhachHang], [maCuaHang], [maNhanVien]) VALUES (N'HD129', CAST(N'2023-05-11' AS Date), N'1 tháng', N'KH123', N'CH123', N'NVHC789')
INSERT [dbo].[HoaDon] ([maHoaDon], [ngayLap], [thoiGianBaoHanh], [maKhachHang], [maCuaHang], [maNhanVien]) VALUES (N'HD130', CAST(N'2023-05-11' AS Date), N'2 năm ', N'KH123', N'CH125', N'NVHC222')
GO
INSERT [dbo].[KhachHang] ([maKhachHang], [hoKhachHang], [tenKhachHang], [diaChi], [soDienThoai], [email]) VALUES (N'KH123', N'Trịnh', N'Minh Kha', N'269/67 Phan Huy Ích', 921599432, N'minhkha20031996@gmail.com')
INSERT [dbo].[KhachHang] ([maKhachHang], [hoKhachHang], [tenKhachHang], [diaChi], [soDienThoai], [email]) VALUES (N'KH234', N'Phạm ', N'Van Thành', N'Đh công nghiệp', 9234134, N'thanh123@gmail.com')
INSERT [dbo].[KhachHang] ([maKhachHang], [hoKhachHang], [tenKhachHang], [diaChi], [soDienThoai], [email]) VALUES (N'KH345', N'Trần ', N'Van Tèo', N'Thành phố Hồ Chí Minh', 92344421, N'teo@gmail.com')
GO
INSERT [dbo].[NhanVienHanhChanh] ([maNhanVien], [tenNhanVien], [diaChi], [soDienThoai], [chucVu], [email], [soNamKinhNghiem], [maCuaHang], [taiKhoan]) VALUES (N'NVHC222', N'Trần Van C', N'Hồ Chí Minh', 45554, N'Bán hàng', N'cc@gmail.com', 4, N'CH125', N'123')
INSERT [dbo].[NhanVienHanhChanh] ([maNhanVien], [tenNhanVien], [diaChi], [soDienThoai], [chucVu], [email], [soNamKinhNghiem], [maCuaHang], [taiKhoan]) VALUES (N'NVHC723', N'Trần Van B', N'Vung tàu', 1122456, N'Bán hàng', N'Bb@gmail.com', 2, N'CH125', N'123')
INSERT [dbo].[NhanVienHanhChanh] ([maNhanVien], [tenNhanVien], [diaChi], [soDienThoai], [chucVu], [email], [soNamKinhNghiem], [maCuaHang], [taiKhoan]) VALUES (N'NVHC789', N'Trần Van A', N'Hồ chí minh', 221133, N'Kế toán', N'aa@gmail.com', 3, N'CH123', N'123')
GO
INSERT [dbo].[NhanVienKiThuat] ([maNhanVien], [tenNhanVien], [soDienThoai], [email], [bacTho], [chucVu], [soNamKinhNghiem], [diaChi], [maCuaHang], [taiKhoan]) VALUES (N'NVKT011', N'Lê Quang Vinh', 123111, N'vinhcuto@gmail.com', N'thợ phụ', N'nhân viên kiểm xe', 4, N'cầu thị nghè', N'CH123', N'121')
INSERT [dbo].[NhanVienKiThuat] ([maNhanVien], [tenNhanVien], [soDienThoai], [email], [bacTho], [chucVu], [soNamKinhNghiem], [diaChi], [maCuaHang], [taiKhoan]) VALUES (N'NVKT014', N'Trần Ðức Ðộ', 912344, N'docunho@gmail.com', N'thợ chính', N'nhân viên sửa xe', 6, N'chợ bà chiểu', N'CH125', N'121')
INSERT [dbo].[NhanVienKiThuat] ([maNhanVien], [tenNhanVien], [soDienThoai], [email], [bacTho], [chucVu], [soNamKinhNghiem], [diaChi], [maCuaHang], [taiKhoan]) VALUES (N'NVKT015', N'Lê Tông', 123455, N'tong@gmail.com', N'thợ chính', N'nhân viên sửa xe', 3, N'gầm cầu', N'CH123', N'121')
GO
INSERT [dbo].[NhaPhanPhoi] ([maNhaPhanPhoi], [tenNhaPhanPhoi], [diaChi], [soDienThoai], [email]) VALUES (N'NPP111', N'Yamaha', N'Hồ chí minh', 99999, N'mahaahaa@gmail.com')
INSERT [dbo].[NhaPhanPhoi] ([maNhaPhanPhoi], [tenNhaPhanPhoi], [diaChi], [soDienThoai], [email]) VALUES (N'NPP222', N'Honda', N'Hồ chí minh', 88888, N'hoooda@gmail.com')
GO
INSERT [dbo].[PhieuNhanXet] ([maPhieu], [liDoBaoHanh], [loiThuocVe], [giaTien], [linhKien], [maKhachHang], [maNhanVien]) VALUES (N'MP123', N'Hu chân chóng', N'khách hàng', 123000, N'Chân chóng', N'KH123', N'NVKT011')
INSERT [dbo].[PhieuNhanXet] ([maPhieu], [liDoBaoHanh], [loiThuocVe], [giaTien], [linhKien], [maKhachHang], [maNhanVien]) VALUES (N'MP129', N'Hu yên xe', N'Xe', 222000, N'yên xe', N'KH234', N'NVKT014')
GO
INSERT [dbo].[TaiKhoan] ([taiKhoan], [matKhau]) VALUES (N'121', N'1212')
INSERT [dbo].[TaiKhoan] ([taiKhoan], [matKhau]) VALUES (N'123', N'1234')
GO
INSERT [dbo].[ThongTinXe] ([maLoaiXe], [tenLoaiXe], [giaNiemYet], [giaGiam], [moTaXe], [phienBan]) VALUES (N'LX012', N'Ex150', 400000, 0, N'Xe ngon', N'2023')
INSERT [dbo].[ThongTinXe] ([maLoaiXe], [tenLoaiXe], [giaNiemYet], [giaGiam], [moTaXe], [phienBan]) VALUES (N'LX111', N'Win150', 230000, 20000, N'Xe bô ngon', N'2022')
INSERT [dbo].[ThongTinXe] ([maLoaiXe], [tenLoaiXe], [giaNiemYet], [giaGiam], [moTaXe], [phienBan]) VALUES (N'LX112', N'Sirus', 150000, 123000, N'Xe yên tốt', N'2002')
GO
INSERT [dbo].[Xe] ([maXe], [soMay], [soKhung], [ngayNhapXe], [maNhaPhanPhoi], [maLoaiXe]) VALUES (N'X012', N'G123', N'1YM123', CAST(N'2019-12-12' AS Date), N'NPP111', N'LX012')
INSERT [dbo].[Xe] ([maXe], [soMay], [soKhung], [ngayNhapXe], [maNhaPhanPhoi], [maLoaiXe]) VALUES (N'X342', N'F12', N'1HD344', CAST(N'2022-10-22' AS Date), N'NPP222', N'LX111')
GO
INSERT [dbo].[XeTrongKho] ([maCuaHang], [maLoaiXe], [soLuong]) VALUES (N'CH123', N'LX012', 23)
INSERT [dbo].[XeTrongKho] ([maCuaHang], [maLoaiXe], [soLuong]) VALUES (N'CH125', N'LX111', 55)
INSERT [dbo].[XeTrongKho] ([maCuaHang], [maLoaiXe], [soLuong]) VALUES (N'CH123', N'LX112', 2)
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDon] ([maHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FKHoaDon367914] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVienHanhChanh] ([maNhanVien])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FKHoaDon367914]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FKHoaDon457563] FOREIGN KEY([maCuaHang])
REFERENCES [dbo].[CuaHang] ([maCuaHang])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FKHoaDon457563]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FKHoaDon550538] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FKHoaDon550538]
GO
ALTER TABLE [dbo].[NhanVienHanhChanh]  WITH CHECK ADD  CONSTRAINT [FKNhanVienHa869067] FOREIGN KEY([maCuaHang])
REFERENCES [dbo].[CuaHang] ([maCuaHang])
GO
ALTER TABLE [dbo].[NhanVienHanhChanh] CHECK CONSTRAINT [FKNhanVienHa869067]
GO
ALTER TABLE [dbo].[NhanVienHanhChanh]  WITH CHECK ADD  CONSTRAINT [FKNhanVienHa895784] FOREIGN KEY([taiKhoan])
REFERENCES [dbo].[TaiKhoan] ([taiKhoan])
GO
ALTER TABLE [dbo].[NhanVienHanhChanh] CHECK CONSTRAINT [FKNhanVienHa895784]
GO
ALTER TABLE [dbo].[NhanVienKiThuat]  WITH CHECK ADD  CONSTRAINT [FKNhanVienKi408171] FOREIGN KEY([maCuaHang])
REFERENCES [dbo].[CuaHang] ([maCuaHang])
GO
ALTER TABLE [dbo].[NhanVienKiThuat] CHECK CONSTRAINT [FKNhanVienKi408171]
GO
ALTER TABLE [dbo].[NhanVienKiThuat]  WITH CHECK ADD  CONSTRAINT [FKNhanVienKi798566] FOREIGN KEY([taiKhoan])
REFERENCES [dbo].[TaiKhoan] ([taiKhoan])
GO
ALTER TABLE [dbo].[NhanVienKiThuat] CHECK CONSTRAINT [FKNhanVienKi798566]
GO
ALTER TABLE [dbo].[PhieuNhanXet]  WITH CHECK ADD  CONSTRAINT [FKPhieuNhanX421077] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVienKiThuat] ([maNhanVien])
GO
ALTER TABLE [dbo].[PhieuNhanXet] CHECK CONSTRAINT [FKPhieuNhanX421077]
GO
ALTER TABLE [dbo].[PhieuNhanXet]  WITH CHECK ADD  CONSTRAINT [FKPhieuNhanX803023] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[PhieuNhanXet] CHECK CONSTRAINT [FKPhieuNhanX803023]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [Phân phối] FOREIGN KEY([maNhaPhanPhoi])
REFERENCES [dbo].[NhaPhanPhoi] ([maNhaPhanPhoi])
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [Phân phối]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [Thuộc] FOREIGN KEY([maLoaiXe])
REFERENCES [dbo].[ThongTinXe] ([maLoaiXe])
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [Thuộc]
GO
ALTER TABLE [dbo].[XeTrongKho]  WITH CHECK ADD  CONSTRAINT [FK_CuaHang_XeTrongKho] FOREIGN KEY([maCuaHang])
REFERENCES [dbo].[CuaHang] ([maCuaHang])
GO
ALTER TABLE [dbo].[XeTrongKho] CHECK CONSTRAINT [FK_CuaHang_XeTrongKho]
GO
ALTER TABLE [dbo].[XeTrongKho]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinXe_XeTrongKho] FOREIGN KEY([maLoaiXe])
REFERENCES [dbo].[ThongTinXe] ([maLoaiXe])
GO
ALTER TABLE [dbo].[XeTrongKho] CHECK CONSTRAINT [FK_ThongTinXe_XeTrongKho]
GO
USE [master]
GO
